@charset "UTF-8";

* {
    box-sizing: border-box;
    margin:0;
    padding:0;
    font-family: monospace;

}
header {
    padding: 20px;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    align-items: center;
    justify-content: center;
    font-stretch: extra-condensed;
    font-size: xxx-large;
    font-weight: 500;
    letter-spacing: 20px;
}


.hero{
    backround:#fdcc04;

}

.hero-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 95vh;
    padding: 3rem calc((100vw - 1300px) / 2);
}

.hero-image{
    width: 50%;
    height: 50%;
}

.column-left{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    color: #000;
    padding: 0rem 2rem;
}
.column-left h1{
    margin-bottom: 1rem;
    font-size: 3rem;
}

.column-left p{
    margin-bottom: 2rem;
    font-size: 1.5rem;
    line-height: 1.5;
}

.login {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 1rem 3rem;
    font-size: 1rem;
    border: none;
    color: black;
    background: transparent;
    cursor:pointer;
    border-radius: 50px;

}

.input-login{
    padding: 1rem 3rem;
    font-size: 1rem;
    border: revert;
    color: black;
    background:transparent;
    cursor:pointer;
    border-radius: 50px;
}
.input-login:hover{
    background: #fdcc04;
    color: black;
}

.column-right {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0rem 2rem;

}

.hero-image {
    width: 150%;
    height: 100%;

}

.button{
    padding: 1rem 3rem;
    font-size: 1rem;
    border: none;
    color: #fdcc04;
    background: black;
    cursor: pointer;
    border-radius: 50px;
}
.button:hover{
    background: #fdcc04;
    color: black;
}
.button-createcontract:hover {
    background: #fdcc04;
    color: black;
}

body {
    font-family: monospace;
    background-image: url('images/view-3d-car.jpg');
    background-attachment: fixed;
    background-size: cover;
}

@media screen and (max-width: 768px)
.hero-container{
    grid-template-columns: 1fr;
}

.title {
    color: #fdcc04;
    border: none;
    border-radius: 30px;
}

/* menu
 */

.menu-title {
    letter-spacing: 20px;
}

.button-container-menu {
    display: inline-table;
    gap: 1rem;
    background: rgba(253, 204, 4, 0.3);
    padding: 1rem;
    border-radius: 10px;
}

/* contracts
 */

.table-section {
    margin: 2rem auto;
    max-width: 800px;
}
table {
    width: fit-content;
    border-collapse: collapse;
    margin-bottom: 1rem;
}
th, td {
    padding: 0.5rem;
    text-align: left;
    border-bottom: 1px solid #ccc;
}

th {
    background-color: #fdcc04;
}

tr:nth-child(even) {
    background-color: #fdcc04;
}

.button {
    padding: 0.5rem 1rem;
    font-size: 1rem;
    border: none;
    color: #fdcc04;
    background: black;
    cursor: pointer;
    border-radius: 5px;
    margin-right: 0.5rem;
    margin-bottom: 0.5rem;
}
.button.delete {
    background: #fdcc04;
    color: white;
}

.button:hover {
    background: #fdcc04;
    color: black;
}
.show-all-cars-button {
    padding: 1rem 3rem;
    font-size: 1rem;
    border: none;
    color: #fdcc04;
    background: black;
    cursor: pointer;
    border-radius: 50px;
}

.title {
    color: #fdcc04;
    border: none;
    border-radius: 30px;
}

.body-contracts {
    font-family: monospace;
    background: radial-gradient(#FFEB3B, transparent);

}

.title-contracts {
    color: #000000;
    border: none;
    border-radius: 30px;
}

/*new contract
 */

.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
}
.form-container form {
    display: inline-block;
    margin-bottom: 1rem;
}
.form-container form .button {
    width: 100%;
    max-width: 200px;
}
.contract-form {
    width: 80%;
    max-width: 500px;
    margin-bottom: 2rem;
}

.form-group {
    margin-bottom: 1.5rem;
}
.form-group label {
    display: block;
    margin-bottom: 0.5rem;
}

.form-group input {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
}

.form-actions {
    display: flex;
    justify-content: center;
    margin-top: 1.5rem;
}

.button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    background: rgba(253, 204, 4, 0.3);
    padding: 1rem;
    border-radius: 10px;
}

.go-back-button {
    margin-bottom: 1.5rem;
}

.button-createcontract {
    padding: 1rem 3rem;
    font-size: 1rem;
    border: none;
    color: #fdcc04;
    background: black;
    cursor: pointer;
    border-radius: 50px;
}

/*car list
 */


.car-list-section {
    padding: 2rem;
    max-width: 1200px;
    margin: auto;
}
.action-buttons {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1.5rem;
}

.filter-form {
    margin-bottom: 1.5rem;
}

.select-filter {
    padding: 0.5rem;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 1rem;
}
.car-list {
    display: flex;
    flex-direction: row;
    gap: 2rem;
}

table {
    width: fit-content;
    border-collapse: collapse;
    margin-bottom: 1rem;
}

.car-image {
    width: 200px;
    height: auto;
    border-radius: 10px;
}

/*add car
 */


.add-car-section {
    padding: 2rem;
    max-width: 800px;
    margin: auto;
    border-radius: 10px;
    background: radial-gradient(#FFEB3B, transparent);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.car-form-table {
    width: 100%;
    margin-bottom: 1.5rem;
    border-collapse: separate;
    border-spacing: revert;
}
.car-form-table th, .car-form-table td {
    border: 1px solid black;
    padding: 8px;
}
.car-form-table th {
    background-color: #fdcc04;
}
.car-form-table td {
    padding: 0.5rem;
}
.car-image {
    width: 200px;
    height: auto;
    border-radius: 10px;
    margin-bottom: 1rem;
}

.input-field {
    width: 100%;
    padding: 0.5rem;
    font-size: 1rem;
    border: 1px solid #fdcc04;
    border-radius: 5px;
}

.select-field {
    width: 100%;
    padding: 0.5rem;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
}

@media screen and (max-width: 768px) {
    .form-actions {
        flex-direction: column;
        gap: 1rem;
    }
}
/* must be image
 */

.body-file-must-be-image {
    font-family: monospace;
    background-size: cover;
    background: radial-gradient(#FFEB3B, transparent);
}

.message-section {
    padding: 2rem;
    max-width: 600px;
    margin: auto;
    background: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}
.message {
    font-size: 1.5rem;
    color: red;
    margin-bottom: 1.5rem;
}

@media screen and (max-width: 768px) {
    .message-section {
        padding: 1rem;
    }

}
.not-image-button {
    width: 100%;
    font-size: 1.2rem;
}
/*body car details
 */

.body-car-details {
    font-family: monospace;
    background: radial-gradient(#FFEB3B, transparent);
}

.main-content {
    padding: 2rem;
    max-width: 800px;
    margin: auto;
    background: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.car-details-table, .car-actions-table, .additional-images-table, .equipment-list-table {
    width: 100%;
    margin-bottom: 1.5rem;
}

.car-details-table td, .car-actions-table td, .additional-images-table td, .equipment-list-table td {
    padding: 0.5rem;
    text-align: left;
}


.car-details, .car-actions, .back-action, .additional-images, .edit-equipment {
    margin-bottom: 2rem;
}
.additional-image-form {
    display: flex;
    align-items: end;
    justify-content: right;
    gap: 1rem;
    width: 100%;
}

.file-input {
    padding: 0.5rem;
    font-size: 1rem;
}

@media screen and (max-width: 768px) {
    .main-content {
        padding: 1rem;
    }

    .button {
        width: 100%;
        font-size: 1.2rem;
    }
    .car-details-table td, .car-actions-table td, .additional-images-table td, .equipment-list-table td {
        text-align: center;
    }
}

/*edit equipment
 */

.text-input {
    padding: 0.5rem;
    font-size: 1rem;
    margin-bottom: 1rem;
    width: 100%;
}

.equipment-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    width: 100%;
}
.equipment-list-table {
    margin-bottom: 1rem;
    width: 100%;
}

.price-container {
    font-family: Arial, sans-serif;
    margin: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
}
.price-label {
    font-weight: bold;
    color: red;
}
.price-value {
    font-size: 1.2em;
    color: #555;
}
