<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Contracts | GearShift</title>
    <link href="/styles.css" rel="stylesheet" type="text/css"/>
</head>
<body>

<header>
    <div class="header">
        <h1 class="title">GearShift</h1>
    </div>
</header>

<section class="add-car-section">
    <div class="button-container">
        <form action="/gotoContracts" method="GET">
            <button type="submit" class="button">Create Contract</button>
        </form>

        <form action="/gotomenu" method="GET">
            <button type="submit" class="button">Go to Menu</button>
        </form>
    </div>
    <div class="form-actions">


    <table>
        <thead>
        <tr>
            <th><strong>Chassis Number</strong></th>
            <th><strong>Phone Number</strong></th>
            <th><strong>Contract Start</strong></th>
            <th><strong>Contract End</strong></th>
            <th><strong>Price</strong></th>
            <th><strong>Actions</strong></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="list : ${ContractList}">
            <td><strong th:text="${list.chassis_number}"></strong></td>
            <td><strong th:text="${list.phone_number}"></strong></td>
            <td><strong th:text="${list.contract_start}"></strong></td>
            <td><strong th:text="${list.contract_end}"></strong></td>
            <td><strong th:text="${list.price}"></strong></td>
            <td>
                <form action="/Editcontract" method="GET">
                    <input type="hidden" name="contract_id" th:value="${list.contract_id}">
                    <button type="submit" class="button">Edit</button>
                </form>

                <form action="/showDamageReport" method="get">
                    <input type="hidden" name="contract_id" th:value="${list.contract_id}">
                    <input type="submit" value="Show damage report" class="button">
                </form>

                <form action="/comfirmDelete" method="GET">
                    <input type="hidden" name="contract_id" th:value="${list.contract_id}">
                    <button type="submit" class="button delete">Delete</button>
                </form>


            </td>
        </tr>
        </tbody>
    </table>




    </div>

</section>

</body>
</html>
