<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Delete customer| GearShift</title>
    <link href="/styles.css" rel="stylesheet" type="text/css"/>
</head>
<body>
<section class="add-car-section">
    <div class="form-actions">
<table>
    <tr>
        <td>Customer ID:</td>
        <td th:text="${customer.customer_id}"></td>
    </tr>
    <tr>
        <td>Name:</td>
        <td th:text="${customer.name}"></td>
    </tr>
    <tr>
        <td>Email:</td>
        <td th:text="${customer.email}"></td>
    </tr>
    <tr>
        <td>Phone Number:</td>
        <td th:text="${customer.phone_number}"></td>
    </tr>
    <tr>
        <td>Address:</td>
        <td th:text="${customer.address}"></td>
    </tr>
</table>

    </div>
    <div class="button-container">
    <form action="/deletecustomer" method="post">
        <input type="hidden" name="customerid" th:value="${customer.customer_id}">
        <button type="submit" class="button"> Delete</button>
    </form>

    <form action="/gotocustomerlist">
        <button type="submit" class="button"> cancel</button>
    </form>
    </div>
</section>

</body>
</html>