<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit customer | GearShift</title>
    <link href="/styles.css" rel="stylesheet" type="text/css"/>
</head>
<body>

<header>
    <div class="header">
        <h1 class="title">GearShift</h1>
    </div>
</header>
<section class="add-car-section">
    <div class="form-container">
        <h1>Edit Customer</h1>
        <br>
        <form action="/Editcustomer" method="POST">
            <input type="hidden" name="customerid" th:value="${customeredit.customer_id}">
            <div class="form-group">
                <label for="name"><strong>Name:</strong></label>
                <input type="text" id="name" name="name" th:value="${customeredit.name}" required>
            </div>
            <div class="form-group">
                <label for="email"><strong>E-mail:</strong></label>
                <input type="text" id="email" name="email" th:value="${customeredit.email}" required>
            </div>
            <div class="form-group">
                <label for="phonenumber"><strong>Phone Number:</strong></label>
                <input type="text" id="phonenumber" name="phonenumber" th:value="${customeredit.phone_number}" required>
            </div>
            <div class="form-group">
                <label for="adress"><strong>Address:</strong></label>
                <input type="text" id="adress" name="adress" th:value="${customeredit.address}" required>
            </div>
            <div class="form-group">
                <button type="submit" class="button">Update Customer</button>
            </div>
        </form>
        <form action="/gotocustomerlist">
            <button type="submit" class="button">Cancel</button>
        </form>
    </div>



</section>

</body>
</html>