<!DOCTYPE html>
<html>
<head>
    <title>Edit Equipment| GearShift </title>
    <link href="/styles.css" rel="stylesheet" type="text/css"/>
</head>
<body>

<header>
    <div class="header">
        <h1 class="title">GearShift</h1>
    </div>
</header>


<div class="form-actions">
    <div class="button-container">
    <table th:if="${equipmentList != null}" class="equipment-list-table">
        <tr th:each="equipment : ${equipmentList}">
            <td th:text="${equipment.description}"></td>
            <td>
                <form action="/deleteEquipment" method="post">
                    <input type="hidden" name="stateFilter" th:value="${stateFilter}">
                    <input type="hidden" name="equipment_id" th:value="${equipment.equipment_id}">
                    <input type="hidden" name="car_id" th:value="${equipment.car_id}">
                    <input type="submit" class="button" value="Delete">
                </form>
            </td>
        </tr>
    </table>

    <form action="/insertEquipment" method="post" th:object="${newEquipment}" class="equipment-form">
        <input type="hidden" name="stateFilter" th:value="${stateFilter}">
        <input type="hidden" th:field="*{equipment_id}">
        <input type="text" th:field="*{description}" class="text-input" autofocus required>
        <input type="hidden" th:field="*{car_id}">
        <input type="submit" class="button" value="Save new equipment">
    </form>

    <form action="/carDetails" method="get">
        <input type="hidden" name="stateFilter" th:value="${stateFilter}">
        <input type="hidden" name="car_id" th:value="${car_id}">
        <input type="submit" class="button" value="Go back">
    </form>
    </div>
</div>


</body>
</html>