<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit damages | GearShift</title>
    <link href="/styles.css" rel="stylesheet" type="text/css"/>
</head>
<body class="body-add-car">

<header>
    <div class="header">
        <h1 class="title-contracts">GearShift</h1>
    </div>
</header>

<section class="add-car-section">
    <form action="/updateDamages" method="post" th:object="${damages}">
        <table class="car-form-table">
            <tr>
                <td>Description</td>
                <td>
                    <textarea th:field="*{description}" class="input-field"></textarea>
                </td>
            </tr>
            <tr>
                <td>Price</td>
                <td>
                    <input type="number" placeholder="Price in DKK" min="0" step="0.01" th:field="*{price}" class="input-field">
                </td>
            </tr>
        </table>
        <input type="hidden" th:field="*{damages_id}">
        <input type="hidden" th:field="*{contract_id}">
    </form>

    <div class="form-actions">
        <form action="/contractDetails" method="get">
            <input type="hidden" name="contract_id" th:value="${contract.contract_id}">
            <input type="submit" class="button" value="Cancel">
        </form>
    </div>
</section>

</body>
</html>