<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home|GearShift</title>
    <link href="/styles.css" rel="stylesheet" type="text/css" media="screen, projection"/>
</head>
<body>


<header>
    <div class="header">
        <h1 class="title">GearShift</h1>
    </div>
</header>


<section class="add-car-section">
    <div class="form-actions">
        <div class="column-left">
            <h1> Accelerate
                <br>
                your
                <br>
                journey</h1>
            <p><strong>Rent your car out for new adventures.</strong> </p>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <div class="button-container-menu">
                <form class="login" action="/validate" method="post">
                    <input class="input-login" type="password" id="logind" name="logind" required>
                    <br>
                    <button class="button" type="submit"> login</button>
                </form>
            </div>

        </div>
    </div>
</section>


</body>
</html>