<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home|GearShift</title>
    <link href="/styles.css" rel="stylesheet" type="text/css" media="screen, projection"/>
</head>
<body>


    <header>
        <div class="header">

            <h1 class="title">GearShift</h1>
        </div>
    </header>


    <section class="hero">
        <div class="hero-container">
            <div class="column-left">
                <h1> Accelerate
                    <br>
                    your
                    <br>
                    journey</h1>
                <p> Rent cars for your freedom of movement.</p>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <form class="login" action="/validate" method="post">
                    <input class="input-login" type="text" name="password">
                    <button class="button" type="submit"> login</button>
                </form>
                <br>
                <br>
                <br>
                <form action="/showCars" method="get">
                    <input type="hidden" name="stateFilter" value="All">
                    <input class="show-all-cars-button" type="submit" value="Show all cars">
                </form>
            </div>
        </div>
    </section>




</body>
</html>