<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Warning| GearShift</title>
    <link href="/styles.css" rel="stylesheet" type="text/css"/>
</head>
<body class="body-file-must-be-image">

<header>
    <div class="header">
        <h1 class="title">GearShift</h1>
    </div>
</header>

<section class="message-section">
    <p class="message">File must be an image</p>
    <div class="form-container">
        <form action="/editImages" method="get">
            <input type="hidden" name="stateFilter" th:value="${stateFilter}">
            <input type="hidden" name="car_id" th:value="${car_id}">
            <input type="submit" class="not-image-button" value="OK">
        </form>
    </div>

</section>
</body>
</html>