<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<H1>THIS IS THE MENU</H1>




<form action="/logout" method="GET">
    <div>
        <button type="submit">Log Out</button>
    </div>
</form>

<form action="/ShowContracts" method="GET">
    <div>
        <button type="submit">GO TO contract list</button>
    </div>
</form>

<form action="/gotoshowrepport" method="GET">
    <div>
        <button type="submit">GO TO Repport</button>
    </div>
</form>

<form action="/showCars" method="get">
    <input type="hidden" name="stateFilter" value="All">
    <input type="submit" value="Show all cars">
</form>

</body>

</html>