<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Menu|GearShift</title>
    <link href="/styles.css" rel="stylesheet" type="text/css"/>
</head>
<body>

<header>
    <div class="header">

        <h1 class="title">GearShift</h1>
    </div>
</header>

<section class="hero">
    <div class="hero-container">
        <div class="column-left">
            <h1 class="menu-title">Menu</h1>

            <form action="/ShowContracts" method="GET">
                <div class="menu-item">
                    <h3>Lease Agreement</h3>
                    <br>
                    <button class="button" type="submit">Press here</button>
                </div>
            </form>

            <form action="/gotoshowrepport" method="GET">
                <div class="menu-item">
                    <h3>Rapport</h3>
                    <br>
                    <button class="button" type="submit">Press here</button>
                </div>
            </form>
            <br>
            <br>
            <br>
            <br>
            <form action="/logout" method="GET">
                <div class="menu-item">
                    <button class="button" type="submit">Log Out</button>
                </div>
            </form>
            <br>
            <br>

            <form action="/showCars" method="get">
                <input type="hidden" name="stateFilter" value="All">
                <input class="button" type="submit" value="Show all cars">
            </form>

        </div>
    </div>
</section>
<form action="/Showcostumerlist" method="GET">
    <div>
        <button type="submit">GO TO customer</button>
    </div>
</form>


</body>

</html>