<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Menu|GearShift</title>
    <link href="/styles.css" rel="stylesheet" type="text/css"/>
</head>
<body>

<header>
    <div class="header">

        <h1 class="title">GearShift</h1>
    </div>
</header>

<section class="add-car-section">
    <div class="form-actions">
        <div class="column-left">
            <h1 class="menu-title">Menu</h1>


            <div class="button-container-menu">
            <form action="/ShowContracts" method="GET">
                <div class="menu-item">
                    <h3>Renting Contract</h3>
                    <button class="button" type="submit">Press here</button>
                </div>
            </form>
            <br>

            <form action="/gotoshowrepport" method="GET">
                <div class="menu-item">
                    <h3>Rapport</h3>

                    <button class="button" type="submit">Press here</button>
                </div>
            </form>
            <br>

            <form action="/Showcostumerlist" method="GET">
                <div class="menu-item">
                    <h3>Customer</h3>
                    <button class="button" type="submit">Press here</button>
                </div>
            </form>
            <br>



            <form action="/showCars" method="get">
                <input type="hidden" name="stateFilter" value="All">
                <input class="button" type="submit" value="Show all cars">
            </form>
            <br>
            <form action="/logout" method="GET">
                <div class="menu-item">
                    <button class="button" type="submit">Log Out</button>
                </div>
            </form>
            </div>

        </div>
    </div>


</section>



</body>

</html>