<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>New Customer | GearShift</title>
    <link href="/styles.css" rel="stylesheet" type="text/css"/>
</head>
<header>
    <div class="header">
        <h1 class="title">GearShift</h1>
    </div>
</header>
<body>
<section class="add-car-section">

<form action="/addnewCostumer" method="POST">
    <div class="form-group">
    <label for="name"><strong>Name:</strong></label>
    <input type="text" id="name" name="name" required>
    </div>
    <div class="form-group">
        <label for="email"><strong>E-mail:</strong></label>
        <input type="text" id="email" name="email" required>
    </div>

    <div class="form-group">
        <label for="phone_number"><strong>Phone number:</strong></label>
        <input type="text" id="phone_number" name="phone_number" required>
    </div>

    <div class="form-group">
        <label for="address"><strong>Address:</strong></label>
        <input type="text" id="address" name="address" required>
    </div>

    <div class="form-actions">
        <button type="submit" class="button">Create Contract</button>
    </div>


</form>

        <div class="form-actions">
            <form action="/Showcostumerlist">
                <button type="submit" class="button">Cancel</button>
            </form>

    </div>

</section>

</body>
</html>