<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add New Car | GearShift</title>
    <link href="/styles.css" rel="stylesheet" type="text/css"/>
</head>
<body>

<header>
    <div class="header">
        <h1 class="title">GearShift</h1>
    </div>
</header>

<section class="add-car-section">
    <form id="carForm" action="/updateDB" method="post" th:object="${car}" enctype="multipart/form-data">
        <table class="car-form-table">
            <tr>
                <td  th:if="${car.image != null}">
                    <img th:src="@{'data:image/*;base64,' + ${car.encodeImageToBase64String()}}" class="car-image">
                </td>
                <td th:if="${car.image == null}">Select image</td>
                <td >
                    <input type="file" name="newImage" accept="image/*">
                </td>
            </tr>
            <tr>
                <td><strong>Model</strong></td>
                <td>
                    <input type="text" placeholder="Required" th:field="*{model}" class="input-field" autofocus required>
                </td>
            </tr>
            <tr>
                <td><strong>Monthly price</strong></td>
                <td>
                    <input type="number" placeholder="Price in DKK" min="0" step="0.01" th:field="*{monthly_price}" class="input-field">
                </td>
            </tr>
            <tr>
                <td><strong>Brand</strong></td>
                <td>
                    <input type="text" th:field="*{brand}" class="input-field">
                </td>
            </tr>
            <tr>
                <td><strong>Chassis number</strong></td>
                <td>
                    <input type="text" th:field="*{chassis_number}" class="input-field">
                </td>
            </tr>
            <tr>
                <td><strong>CO2 emissions</strong></td>
                <td>
                    <input type="number" th:field="*{co2_emissions}" class="input-field">
                </td>
            </tr>
            <tr>
                <td><strong>State</strong></td>
                <td>
                    <select th:field="*{state}" class="select-field">
                        <option value="In storage">In storage</option>
                        <option value="Being used">Being used</option>
                        <option value="Under inspection">Under inspection</option>
                    </select>
                </td>
            </tr>
        </table>
        <input type="hidden" th:field="*{car_id}">
        <input type="hidden" name="action" th:value="${action}">
        <input type="hidden" name="stateFilter" th:value="${stateFilter}">
        <input type="hidden" name="oldImage" th:value="${car.encodeImageToBase64String()}" th:if="${car.image != null}">
        <input type="hidden" name="oldImage" value="No image" th:if="${car.image == null}">
    </form>

    <div class="form-actions">
        <input form="carForm" type="submit" class="button" value="Save">
        <div th:if="${action == 'insert'}">
            <form action="/showCars" method="get">
                <input type="hidden" name="stateFilter" th:value="${stateFilter}">
                <input type="submit" class="button" value="Cancel">
            </form>
        </div>
        <div th:if="${action == 'update'}">
            <form action="/carDetails" method="get">
                <input type="hidden" name="car_id" th:value="${car.car_id}">
                <input type="hidden" name="stateFilter" th:value="${stateFilter}">
                <input type="submit" class="button" value="Cancel">
            </form>
        </div>
    </div>

    <div>
    <form action="/addAdditionalImage" method="post" enctype="multipart/form-data">
        <input type="submit" class="button" value="Add additional image">
        <input type="hidden"  class="button" name="stateFilter" th:value="${stateFilter}">
        <input type="hidden" name="car_id" th:value="${car.car_id}">
        <input type="file" name="newImage" accept="image/*" class="file-input">

    </form>
    </div>
</section>

</body>
</html>