<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add new car</title>
</head>
<body>

    <form id="carForm" action="/updateDB" method="post" th:object="${car}" enctype="multipart/form-data">
        <table>
            <tr>
                <td th:if="${car.image != null}">
                    <img th:src="@{'data:image/*;base64,' + ${car.encodeImageToBase64String()}}" width="200">
                </td>
                <td th:if="${car.image == null}">Select image</td>
                <td>
                    <input type="file" name="newImage" accept="image/*">
                </td>
            </tr>
            <tr>
                <td>Model</td>
                <td>
                    <input type="text" placeholder="Required" th:field="*{model}" autofocus required>
                </td>
            </tr>
            <tr>
                <td>Monthly price</td>
                <td>
                    <input type="number" placeholder="Price in DKK" min="0" step="0.01" th:field="*{monthly_price}">
                </td>
            </tr>
            <tr>
                <td>Brand</td>
                <td>
                    <input type="text" th:field="*{brand}">
                </td>
            </tr>
            <tr>
                <td>Chassis number</td>
                <td>
                    <input type="text" th:field="*{chassis_number}">
                </td>
            </tr>
            <tr>
                <td>CO2 emissions</td>
                <td>
                    <input type="number" th:field="*{co2_emissions}">
                </td>
            </tr>
            <tr>
                <td>State</td>
                <td>
                    <select th:field="*{state}">
                        <option value="In storage">In storage</option>
                        <option value="Being used">Being used</option>
                        <option value="Under inspection">Under inspection</option>
                    </select>
                </td>
            </tr>
        </table>
        <input type="hidden" th:field="*{car_id}">
        <input type="hidden" name="action" th:value="${action}">
        <input type="hidden" name="stateFilter" th:value="${stateFilter}">
        <input type="hidden" name="oldImage" th:value="${car.encodeImageToBase64String()}" th:if="${car.image != null}">
        <input type="hidden" name="oldImage" value="No image" th:if="${car.image == null}">
    </form>

    <table>
        <tr>
            <td>
                <input form="carForm" type="submit" value="Save">
            </td>
            <td th:if="${action == 'insert'}">
                <form action="/showCars" method="get">
                    <input type="hidden" name="stateFilter" th:value="${stateFilter}">
                    <input type="submit" value="Cancel">
                </form>
            </td>
            <td th:if="${action == 'update'}">
                <form action="/carDetails" method="get">
                    <input type="hidden" name="car_id" th:value="${car.car_id}">
                    <input type="hidden" name="stateFilter" th:value="${stateFilter}">
                    <input type="submit" value="Cancel">
                </form>
            </td>
        </tr>
    </table>

</body>
</html>