<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Customer List</h1>
 <h1 th:value="${getcostumerlist}"></h1>
<form action="/gotocreatecostumer" method="GET">
    <div>
        <button type="submit">add costumer</button>
    </div>
</form>
<table>
    <thead>
    <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Phone Number</th>
        <th>Address</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="list: ${getcostumerlist}">

        <td th:text="${list.name}"></td>
        <td th:text="${list.email}"></td>
        <td th:text="${list.phone_number}"></td>
        <td th:text="${list.address}"></td>
        <td>
            <form action="/editcustomer" method="GET">
                <input type="hidden" name="customerid" th:value="${list.customer_id}">
                <button type="submit">Edit </button>
            </form>
        </td>

        <td>
            <form action="/confirmdeletecustomer" method="GET">
                <input type="hidden" name="customerid" th:value="${list.customer_id}">
                <button type="submit"> Delete </button>
            </form>
        </td>
    </tr>
    </tbody>
</table>
<form action="/gotomenu" method="GET">
    <button type="submit">GO to menu</button>
</form>
</body>
</html>