<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Show Rapport | GearShift</title>
    <link href="/styles.css" rel="stylesheet" type="text/css"/>
</head>
<body class="body-contracts">

<header>
    <div class="header">
        <h1 class="title-contracts">GearShift</h1>
    </div>
</header>

<section class="form-container">
    <h3>Rapport</h3>
    <br>

<form action="/ShowRepport">
    <div class="form-group">
        <label for="start">Contract Start Date:</label>
        <input type="date" id="start" name="start" required>
    </div>

    <div class="form-group">
        <label for="end">Contract End Date:</label>
        <input type="date" id="end" name="end" required>
    </div>

    <button type="submit" class="button">Show Price</button>
</form>
    <p th:text="${timeprice}"></p>
    <br>


    <form action="/gotomenu" method="GET">
        <button type="submit" class="button">Go To Menu</button>
    </form>
</section>

</body>
</html>